.misComprobantesId {
    height: calc(100vh - var(--headerHeight) - var(--footerHeight, 0px));
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: var(--headerHeight);
    padding: 0 1rem 1rem;
}   